p{
    background-color: rgb(245, 244, 244);
    padding: 10px;
    margin: 10% 22% ;
    height: 30px;
    border-left: 3px solid rgb(209, 59, 129);
}

p::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 7px solid;
    right: 77.4%;
    margin-top: 7px;
    border-color: transparent rgb(209, 59, 129) transparent transparent;
}

p::before{
    content: attr(data-person);
    background-color: rgb(221, 221, 221) ;
    position: absolute;
    margin-left: -100px;
    padding: 5px;
}





