div{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: blueviolet;
  background-color:#8a2be2;  
  background-color: rgb(138, 43, 226);


}

.assign-1-shape-2{
    background-color: rgba(138, 43, 226 , 0.5);

}

.assign-1-shape-3{
    background-color: rgba(138, 43, 226, 0.1);
}