
a{ 
    font-size: 80px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(11, 155, 155);
    text-align: center;
    padding: 30px 15px;


    
}
